<form class="new-list-form" action="/lists/<%=@list.id%>/delete" method="delete">
  <input name="_method" type="hidden" value="PUT">
  <input type="text" name="lists[name]" placeholder="New Name">
  <input type="submit"  value="Delete List">
</form>
