<form class="" action="/lists/<%=@list.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="list">Title</label>
  <input type="text" name="list[title]" id="list">
  <input type="submit" value="Update">
</form>
