<section class='list-lists'>
</div class="add-list">
<% if login? %>
  <a href="/lists/new"><button id="new-list-button">Add a list</button></a>
  <%else%>
  <p class=sign-in> Sign in to Add a List!</p>
  <%end%>
  <!-- <div class="hide">
     <%= erb :'partials/_new_list' %>
  </div> -->
  <br>
  <div>
    <% @lists.each do |list| %>
      <ul>
        <br>
        <li><a href="/lists/<%= list.id%>"><%=list.name%></a></li>
      </ul>
      </div>
      <% end %>
  </section>
