<div id="lists">
  <h1>Here are your To-Do-Lists</h1>
  <ul id=list-container>
      <%@lists.each do |list|%>
      <%= erb :'/partials/_single_user', locals:{list:list} %>
      <%end%>
  </ul>

  <a id="add-list"href="/lists/new">Add List</a> <br> <br>
</div>
