<h2>Lets start with a Name for our list. </h2>
<form class="create_list" method="POST" action="/lists">
  <label for="name">List Name:</label>
  <input type="text" name="list[name]">
  <input type="submit" value="Create List">
</form>
