<div>
  <h1>Create new list</h1>
  <%= erb :"/partials/_errors" %>
  <form action="/lists" method="post">
    <input type="text" name="list[name]" placeholder="Name of list">
    <input type="submit" value="Create new list">
    <a href="/lists">Cancel</a>
  </form>
</div>
