<h2 style="text-align:center;">Create a list</h2>

 <div class="new-list">
  <form class ="" method="post" action="/lists">

    <div class="">
    <label for="list">List Name:</label>
    <input type="text" id="list" name="list"></input>
    </div>

    <input type="submit" class="button" value="Create List">

  </form>
</div>
