<div class="list">
  <h2> <%=@list.name%></h2>

  <%= erb :'tasks/index' %>

   <%= erb :'tasks/new' %>
  <br>
  <br>
  <% if current_user == @list.user %>
        <a href="/lists/<%= @list.id %>/edit">Edit your list</a>
      <% end %>
</div>
