<form action="/lists/<%=@list.id%>/tasks/<%=@task.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="task">Description</label>
  <input type="checkbox" name="task[completed]" value="true">
  <input type="text" name="task[description]" value="<%=@task.description%>"id="task">
  <input type="submit" value="Update">
</form>
