<div class="task-list">
  <ol>
  <%@list.tasks.each do |task| %>
  <div class="complete">
  <li>  <%=task.task.capitalize%>
    <% if authorized?(:id) %>
  <form method="post" action="/tasks/<%=task.id %>">
    <input type="hidden" name="_method" value="put">
    <button type="submit" id="completed">Complete task</button>
  </form>
  <%end%>
    </li>
  <%end%>
</ol>
  </div>
</div>
