<h2>Create a New Task  for <%= @list.name%></h2>
<h2>Lets add some tasks to our list </h2>
<form class="create_task" method="POST" action="/lists/<%=@list.id%>/tasks">
  <label for="name">Task Name:</label>
  <input type="text" name="task[task_name]">
  <input type="submit" value="Add Task to List">
</form>
