<%= erb :'/partials/_errors' %>

<form class="task-submit" action="/lists/<%=@list.id%>/tasks" method="post">
  <label for="task">Description</label>
  <input type="text" name="task[description]" id="task">
  <input type="submit" value="Create Task">
</form>
