<form class="new-list" method="post" action="/lists">
    <label for="list">List Name:</label>
    <input type="text" id="list" name="list"></input>
    <input type="submit" class="button" value="Create List">
  </form>

