<div>
    <h1>Register new user</h1>
    <form action="" method="">
        <input type="text" name="user[username]" placeholder="Username">
        <input type="text" name="user[email]" placeholder="Email">
        <input type="password" name="user[password]" placeholder="Password">
        <input type="submit" value="Create User">
        <a href="/">Cancel</a>
    </form>
</div>