<%if @errors%>
  <% @errors.each do |error| %>
     <ul>

      <li> <%= error %> </li>

    </ul>
  <% end %>
<%end%>

<div class="register-form">
  <form class="" action="/users" method="post">
    <div class="">
      <label for="username">Username:</label>
      <input type="text" name="user[username]" value="" id="username">
    </div>

    <div class="">
      <label for="email">Email:</label>
      <input type="email" name="user[email]"  value="" id='email'>
    </div>
    <div class="">
      <label for="password">Password:</label>
      <input type="password" name="user[password]"  value="" id='password'>
    </div>
    <br>
    <div>
    <input class="submit-form-button" type="submit" name="" value="Create">
  </div>
  </form>
</div>
