<div>
    <header>
        <h1>Welcome <%= @current_user.username.capitalize %></h1>
        <a href="/lists/new">New List</a>
    </header>

    <div>
        <h1>All Outstanding Lists</h1>
        <ol>
          <% @outstanding.each do |list| %>
            <li> <%= list.name %> </li>
          <% end %>
        </ol>
    </div>

    <div>
        <h1>Completed Lists</h1>
        <ol>
          <% @completed.each do |list| %>
            <li> <%= list.name %> </li>
          <% end %>
        </ol>
    </div>
</div>
