<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <ul class="container">
      <li><a href="/"><i id="brand" class="fa fa-trello" aria-hidden="true"></i><span>Kendylist</span></a></li>
      <li class="right"><a href="/">Logout</a></li>
      <li class="right"><a href="/">Login</a></li>
      <li class="right"><a href="/register">Register</a></li>
    </ul>
  </nav>
  <div class="container">
    
    <%= yield %>
  </div>
</body>
</html>
