<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header class="nav-bar">
    <h1 class="brand">To Do List</h1>
    <nav>
      <% if current_user %>
        <a href="/" class="nav-bar-button">Home</a>
        <a href="/users/<%= current_user.id %>" class="nav-bar-button">Profile</a>
        <a href="/logout" class="nav-bar-button">Logout</a>
      <% else %>
        <a href="/" class="nav-bar-button">Home</a>
        <a href="/users/login" class="nav-bar-button" id = "login-link">Login</a>
        <a href="/users/new" class="nav-bar-button" id = "register-link">Register</a>
      <% end %>
    </nav>
  </header>

  <%= yield %>
</body>
</html>
